html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  font-family: "Inter", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.navbar {
  width: 100vw;
  padding-top: 10px;

  padding-bottom: 10px;
  display: flex;
  background-color: rgb(245, 90, 90);
  text-align: center;
  justify-content: center;
  align-items: center;
}
.globeImg {
  width: 24px;
  height: 24px;
}
.globeText {
  margin-left: 10px;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  color: white;
  font-size: 14px;
}
.countryTravelCard {
  margin: 20px;
  width: 80%;
  min-width: 500px;
  display: flex;
  justify-content: start;
}
.pictureCard {
  width: 125px;
  height: 168px;
  border-radius: 5%;
}
.countryDescription {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.locationDesc {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.locationIcon {
  width: 12px;
  height: 16px;
}
.descTextStyle {
  margin-top: 10px;
  margin-right: 10px;
}
.googleMapLink {
  color: #918e9b;
}
.countryLocation,
.googleMapLink {
  font-weight: 400;
  font-size: 10px;
}
.countryName {
  font-weight: bold;
  font-size: 30px;
}
.dateCountry {
  font-size: 14px;
  font-weight: bold;
}
.descriptionCountry {
  font-weight: 400;
  font-size: 12px;
  width: 326px;
  white-space: normal;
  word-wrap: break-word;
}
hr {
  width: calc(100% - 40px);
  border: none;
  border-top: 2px solid rgba(147, 144, 144, 0.573);
  margin: 0px auto;
}
